---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: mutating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-baremetal-openstack-org-v1beta1-openstackbaremetalset
  failurePolicy: Fail
  name: mopenstackbaremetalset-v1beta1.kb.io
  rules:
  - apiGroups:
    - baremetal.openstack.org
    apiVersions:
    - v1beta1
    operations:
    - CREATE
    - UPDATE
    resources:
    - openstackbaremetalsets
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-baremetal-openstack-org-v1beta1-openstackprovisionserver
  failurePolicy: Fail
  name: mopenstackprovisionserver-v1beta1.kb.io
  rules:
  - apiGroups:
    - baremetal.openstack.org
    apiVersions:
    - v1beta1
    operations:
    - CREATE
    - UPDATE
    resources:
    - openstackprovisionservers
  sideEffects: None
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-baremetal-openstack-org-v1beta1-openstackbaremetalset
  failurePolicy: Fail
  name: vopenstackbaremetalset-v1beta1.kb.io
  rules:
  - apiGroups:
    - baremetal.openstack.org
    apiVersions:
    - v1beta1
    operations:
    - CREATE
    - UPDATE
    resources:
    - openstackbaremetalsets
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-baremetal-openstack-org-v1beta1-openstackprovisionserver
  failurePolicy: Fail
  name: vopenstackprovisionserver-v1beta1.kb.io
  rules:
  - apiGroups:
    - baremetal.openstack.org
    apiVersions:
    - v1beta1
    operations:
    - CREATE
    - UPDATE
    resources:
    - openstackprovisionservers
  sideEffects: None
