---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.10.0
  creationTimestamp: null
  name: openstackprovisionservers.baremetal.openstack.org
spec:
  group: baremetal.openstack.org
  names:
    kind: OpenStackProvisionServer
    listKind: OpenStackProvisionServerList
    plural: openstackprovisionservers
    shortNames:
    - osprovserver
    - osprovservers
    singular: openstackprovisionserver
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: Status
      jsonPath: .status.conditions[0].status
      name: Status
      type: string
    - description: Message
      jsonPath: .status.conditions[0].message
      name: Message
      type: string
    name: v1beta1
    schema:
      openAPIV3Schema:
        description: OpenStackProvisionServer used to serve custom images for baremetal
          provisioning with Metal3
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: OpenStackProvisionServerSpec defines the desired state of
              OpenStackProvisionServer
            properties:
              agentImageUrl:
                description: AgentImageURL - Container image URL for the sidecar container
                  that discovers provisioning network IPs
                type: string
              apacheImageUrl:
                description: ApacheImageURL - Container image URL for the main container
                  that serves the downloaded RHEL qcow2 image (rhelImageUrl)
                type: string
              downloaderImageUrl:
                description: DownloaderImageURL - Container image URL for init container
                  that downloads the RHEL qcow2 image (rhelImageUrl)
                type: string
              interface:
                description: Interface - An optional interface to use instead of the
                  cluster's default provisioning interface (if any)
                type: string
              nodeSelector:
                additionalProperties:
                  type: string
                description: NodeSelector to target subset of worker nodes running
                  this provision server
                type: object
              port:
                description: Port - The port on which the Apache server should listen
                format: int32
                type: integer
              resources:
                description: Resources - Compute Resources required by this provision
                  server (Limits/Requests). https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/
                properties:
                  limits:
                    additionalProperties:
                      anyOf:
                      - type: integer
                      - type: string
                      pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                      x-kubernetes-int-or-string: true
                    description: 'Limits describes the maximum amount of compute resources
                      allowed. More info: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/'
                    type: object
                  requests:
                    additionalProperties:
                      anyOf:
                      - type: integer
                      - type: string
                      pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                      x-kubernetes-int-or-string: true
                    description: 'Requests describes the minimum amount of compute
                      resources required. If Requests is omitted for a container,
                      it defaults to Limits if that is explicitly specified, otherwise
                      to an implementation-defined value. More info: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/'
                    type: object
                type: object
              rhelImageUrl:
                description: RhelImageURL - URL for RHEL qcow2 image (compressed as
                  gz, or uncompressed)
                type: string
            required:
            - agentImageUrl
            - apacheImageUrl
            - downloaderImageUrl
            - port
            - rhelImageUrl
            type: object
          status:
            description: OpenStackProvisionServerStatus defines the observed state
              of OpenStackProvisionServer
            properties:
              conditions:
                description: Conditions
                items:
                  description: Condition defines an observation of a API resource
                    operational state.
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another. This should be when the underlying condition changed.
                        If that is not known, then using the time when the API field
                        changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: A human readable message indicating details about
                        the transition.
                      type: string
                    reason:
                      description: The reason for the condition's last transition
                        in CamelCase.
                      type: string
                    severity:
                      description: Severity provides a classification of Reason code,
                        so the current situation is immediately understandable and
                        could act accordingly. It is meant for situations where Status=False
                        and it should be indicated if it is just informational, warning
                        (next reconciliation might fix it) or an error (e.g. DB create
                        issue and no actions to automatically resolve the issue can/should
                        be done). For conditions where Status=Unknown or Status=True
                        the Severity should be SeverityNone.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: Type of condition in CamelCase.
                      type: string
                  required:
                  - lastTransitionTime
                  - status
                  - type
                  type: object
                type: array
              hash:
                additionalProperties:
                  type: string
                description: Map of hashes to track e.g. job status
                type: object
              localImageUrl:
                description: URL of provisioning image on underlying Apache web server
                type: string
              provisionIp:
                description: IP of the provisioning interface on the node running
                  the ProvisionServer pod
                type: string
              readyCount:
                description: ReadyCount of provision server Apache instances
                format: int32
                type: integer
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
